<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>APT 사전점검</title>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
        <link rel="stylesheet" href="/css/lib/bootstrap.min.css">
    </head>
    <body>
        <h1>APT 사전점검 페이지</h1>

        <div class="col-md-8">
           
           <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#saveDefectsModal">등록</button>
           
           
           <!--#SECTION : TABLE ============================================== -->
            <table class="table table-horizontal table-bordered">
                <thead class="thead-strong">
                    <tr>
                        <th>no</th>
                        <th>아파트</th>
                        <th>룸타입</th>
                        <th>하자내용</th>
                        <th>등록시간</th>
                        <th>수정시간</th>
                        <th>수정</th>
                        <th>삭제</th>
                    </tr>
                </thead>
                <tbody id="tbody">
                    <tr th:each="defects,index : ${defectsList}">
                        <td th:text="${defects.no}"></td>
                        <td th:text="${defects.aptCd}"></td>
                        <td th:text="${defects.roomType}"></td>
                        <td th:text="${defects.content}"></td>
                        <td th:text="${defects.createdDate}"></td>
                        <td th:text="${defects.modifiedDate}"></td>
                        <td>
                            <button class="btn btn-secondary btn-update" type="button" data-toggle="modal" data-target="#updateDefectsModal">수정</button>
                        </td>
                        <td>
                            <button class="btn btn-secondary btn-delete" type="button">삭제</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!-- =============================================================== -->
        
        <!-- SECTION : save Modal  ============================================== -->
        <div class="modal fade" id="saveDefectsModal" tabindex="-1" role="dialog" aria-labelledby="saveDefectsLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="saveDefectsLabel">게시글 등록</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form>
                           <div class="form-group">
                               <label for="aptCd">아파트</label>
                               <input type="text" class="form-control" id="aptCd" placeholder="아파트명 입력">
                           </div>
                           <div class="form-group">
                               <label for="roomType">룸타입</label>
                               <input type="text" class="form-control" id="roomType" placeholder="룸타입 입력">
                           </div>
                           <div class="form-group">
                               <label for="content">하자내용</label>
                               <textarea id="content" class="form-control" placeholder="하자내용 입력"></textarea>
                           </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">취소</button>
                        <button type="button" class="btn btn-primary" id="btn-defects-save">등록</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- =============================================================== -->


        
        <!-- SECTION : update Modal   ============================================== -->
        <div class="modal fade" id="updateDefectsModal" tabindex="-1" role="dialog" aria-labelledby="updateDefectsLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="updateDefectsLabel">게시글 수정</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="form-group">
                                <input type="hidden" class="form-control" id="no">
                            </div>
                        </form>
                        <form>
                           <div class="form-group">
                               <label for="aptCd">아파트</label>
                               <input type="text" class="form-control" id="aptCd2">
                           </div>
                           <div class="form-group">
                               <label for="roomType">룸타입</label>
                               <input type="text" class="form-control" id="roomType2">
                           </div>
                           <div class="form-group">
                               <label for="content">하자내용</label>
                               <textarea id="content2" class="form-control"></textarea>
                           </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">취소</button>
                        <button type="button" class="btn btn-primary" id="btn-defects-update">수정</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- =============================================================== -->
        
        
        <script src="/js/lib/jquery.min.js"></script>
        <script src="/js/lib/bootstrap.min.js"></script>
        <script src="/js/app/main.js"></script>
        
    </body>
    
</html>